.hideVerticalScrollbar {
    overflow-y: hidden;
    overflow-x: auto;
}

.draggable {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.draggable:active {
    cursor: grabbing;
}