.root {
    position: fixed;
    display: flex;

    align-items: center;
    justify-content: space-between;
    width: 94%;
    margin: auto;
    padding: 18px;
    background-color: #0e53f3e3;
    backdrop-filter: blur(12px);
    border-radius: 12px;
    z-index: 9;

    border-bottom: solid 3px #6686cfe3;
    box-shadow:

        2px 6px 14px #888888, // outer border shadow
        -2px -6px 14px #888888; // outer border shadow

    @media screen and (max-width: 600px) {
        width: 86%;

    }
}


.navItem {
    list-style: none;
    position: relative;
    z-index: 10;
    color: white;

}