.root {
    position: fixed;
    display: flex;

    align-items: center;
    justify-content: space-between;
    width: 93%;
    margin: auto;
    padding: 18px;
    background-color: #245DDA;
    border-radius: 12px;
    box-shadow:
        inset 0px -6px 6px -6px #4f82f1, // top border shadow
        2px 6px 18px #888888, // outer border shadow
        -2px -6px 18px #888888; // outer border shadow

    @media screen and (max-width: 600px) {
        width: 86%;

    }
}

.navItem {
    position: relative;
    z-index: 10;
    color: #0024f1f1;
    mix-blend-mode: difference;
}